In [2]:
# Inspect the Dataset

import pandas as pd

# Load dataset
df = pd.read_csv(r"..\data\raw\marketing_campaign.csv", encoding='ISO-8859-1')

# First look
print("Shape:", df.shape)
print("\nColumns:\n", df.columns)

# Peek at data
print("\nHead:\n", df.head())

# Data types & non-null counts
print("\nInfo:\n")
df.info()

# Summary stats (numerical & categorical)
print("\nNumeric Summary:\n", df.describe())
print("\nCategorical Summary:\n", df.describe(include=['object']))

# Check for duplicates
print("\nDuplicates count:", df.duplicated().sum())

# Target variables & features
print("\nUnique values per column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

Shape: (2240, 29)

Columns:
 Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='str')

Head:
      ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

Info:

<class 'pandas.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   str
 3   Marital_Status       2240 non-null   str
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   str
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), str(3)
memory usage: 507.6 KB

Numeric Summary:
                  ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2240.000000  ...        2240.000000   2240.000000   2240.000000
mean         37.525446  ...           5.316518      0.072768      0.074554
std          54.628979  ...           2.426645      0.259813      0.262728
min           0.000000  ...           0.000000      0.000000      0.000000
25%           3.000000  ...           3.000000      0.000000      0.000000
50%          12.000000  ...           6.000000      0.000000      0.000000
75%          50.000000  ...           7.000000      0.000000      0.000000
max         259.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000         2240.0
mean       0.072768      0.064286      0.013393     0.009375            3.0
std        0.259813      0.245316      0.114976     0.096391            0.0
min        0.000000      0.000000      0.000000     0.000000            3.0
25%        0.000000      0.000000      0.000000     0.000000            3.0
50%        0.000000      0.000000      0.000000     0.000000            3.0
75%        0.000000      0.000000      0.000000     0.000000            3.0
max        1.000000      1.000000      1.000000     1.000000            3.0

       Z_Revenue     Response
count     2240.0  2240.000000
mean        11.0     0.149107
std          0.0     0.356274
min         11.0     0.000000
25%         11.0     0.000000
50%         11.0     0.000000
75%         11.0     0.000000
max         11.0     1.000000

[8 rows x 26 columns]

Categorical Summary:
          Education Marital_Status Dt_Customer
count         2240           2240        2240
unique           5              8         663
top     Graduation        Married  31-08-2012
freq          1127            864          12

Duplicates count: 0

Unique values per column:
ID: 2240
Year_Birth: 59
Education: 5
Marital_Status: 8
Income: 1974
Kidhome: 3
Teenhome: 3
Dt_Customer: 663
Recency: 100
MntWines: 776
MntFruits: 158
MntMeatProducts: 558
MntFishProducts: 182
MntSweetProducts: 177
MntGoldProds: 213
NumDealsPurchases: 15
NumWebPurchases: 15
NumCatalogPurchases: 14
NumStorePurchases: 14
NumWebVisitsMonth: 16
AcceptedCmp3: 2
AcceptedCmp4: 2
AcceptedCmp5: 2
AcceptedCmp1: 2
AcceptedCmp2: 2
Complain: 2
Z_CostContact: 1
Z_Revenue: 1
Response: 2

C:\Users\ibjio\AppData\Local\Temp\ipykernel_1592\1230592008.py:21: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  print("\nCategorical Summary:\n", df.describe(include=['object']))

Data Inspection Summary

1. General Overview
•	Total records: 2,240 customers
•	Total features: 29 columns
•	Duplicates: None
•	Memory usage: ~507 KB
•	Data types:
o	25 integer
o	1 float (Income)
o	3 categorical (Education, Marital_Status, Dt_Customer)
The dataset is clean in structure with no duplicate rows.
________________________________________
2.  Missing Values
•	Income has 24 missing values (2216 non-null out of 2240).
•	All other variables are complete.
This suggests Income will need imputation during data cleaning.
________________________________________
3. Customer Demographics
Age (Year_Birth)
•	Range: 1893–1996
•	Mean birth year: 1968
•	Some extreme values (e.g., 1893) indicate unrealistic ages → potential outliers.
Education (5 categories)
•	Most common: Graduation (1127 customers, ~50%)
Marital Status (8 categories)
•	Most common: Married (864 customers)
________________________________________
4. Income Distribution
•	Mean: $52,247
•	Median: $51,381
•	Max: $666,666 (extreme outlier)
•	Min: $1,730
Strong right skew due to high-income outliers.
________________________________________
5. Household Composition
•	Kidhome: 0–2 children (mean ≈ 0.44)
•	Teenhome: 0–2 teenagers (mean ≈ 0.51)
Most customers have no children or teenagers at home.
________________________________________
6. Spending Behavior (Product Categories)
Average spending:
Category	Mean Spending
Wines	303.9
Meat	166.9
Fish	37.5
Fruits	26.3
Sweets	(lower compared to wine/meat)
Gold	moderate
Customers spend significantly more on Wines and Meat compared to other products.
Spending variables are highly skewed with large max values → likely require scaling.
________________________________________
7. Purchase Behavior
•	Web purchases: up to 15
•	Store purchases: up to 14
•	Catalog purchases: up to 14
•	Web visits per month: avg 5.3
Customers use multiple channels, making this dataset suitable for segmentation.
________________________________________
8. Campaign Response Behavior
Binary variables (0 = No, 1 = Yes):
•	AcceptedCmp1–5: low acceptance rates (~6–7%)
•	Overall Response rate: 14.9%
This suggests:
•	Campaign acceptance is relatively low.
•	Response variable can be used for supervised modeling if needed.
________________________________________
9. Constant Columns (No Variance)
•	Z_CostContact = 3 (constant)
•	Z_Revenue = 11 (constant)
These provide no predictive value and should be removed during preprocessing.
________________________________________
Key Data Issues Identified
1.	Missing values in Income
2.	Unrealistic birth years (e.g., 1893)
3.	Extreme income outlier (666,666)
4.	Constant columns (Z_CostContact, Z_Revenue)
5.	Skewed spending variables
6.	Dt_Customer stored as string (needs datetime conversion)